{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div id="itinerary-choices" class="panel-body">
          <div>
            <h4>Hotels</h4>
            <select>
              {% for hotel in all_hotels %}
              <option class="hotels">{{ hotel.name }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select>
              {% for restaurant in all_restaurants %}
              <option class="restaurants">{{ restaurant.name }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select>
              {% for activity in all_activities %}
              <option class="activities">{{ activity.name }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 1</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn current-day" id="1">1</button>
            <!-- <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button>-->
            <button class="btn btn-circle day-btn add-day">+</button>
          </div>
        </div>
        <div class="panel-body">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group hotels">
              <!-- <div class="itinerary-item">
                <span class="title">Andaz Wall Street</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div> -->
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group restaurants">
              <!-- <div class="itinerary-item">
                <span class="title">Bouley</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div> -->
              <!-- <div class="itinerary-item">
                <span class="title">The Capital Grille</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div> -->
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group activities">
              <!-- <div class="itinerary-item">
                <span class="title">Mahayana Buddhist Temple Association</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
              <div class="itinerary-item">
                <span class="title">South Street Seaport</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
{% autoescape false %}
var all_hotels = {{ all_hotels | json }};
var all_restaurants = {{ all_restaurants | json }};
var all_activities = {{ all_activities | json }};
{% endautoescape %}
</script>
{% endblock %}
